
<div class="text-center">

    <h3>Test1=> Döngü Sayısı: 95    Popülasyon: 185 286 326   Max Yaş=95      Ölüm Sayısı:3716  </h3>
    <h3>Test2=> Döngü Sayısı: 95    Popülasyon: 171 700 061   Max Yaş=85      Ölüm Sayısı:3589  </h3>

    <h3>Test1=> Döngü Sayısı: 85    Popülasyon: 19 022 317    Max Yaş=85      Ölüm Sayısı:365  </h3>
    <h3>Test2=> Döngü Sayısı: 85    Popülasyon: 31 235 824    Max Yaş=85      Ölüm Sayısı:565  </h3>

    <h3>Test1=> Döngü Sayısı: 75    Popülasyon: 3 558 858     Max Yaş=75      Ölüm Sayısı:70  </h3>
    <h3>Test2=> Döngü Sayısı: 75    Popülasyon: 3 152 081     Max Yaş=75      Ölüm Sayısı:66  </h3>

    <h3>Test1=> Döngü Sayısı: 65    Popülasyon: 344 783       Max Yaş=65      Ölüm Sayısı:4  </h3>
    <h3>Test2=> Döngü Sayısı: 65    Popülasyon: 410 930       Max Yaş=65      Ölüm Sayısı:5  </h3>



    <h3>(*)=> Aylık</h3>



</div>
